.footer {
  max-width: 166px;
  margin: 90px auto 0;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1429;
}

.footer__copyright {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-top: 65px;
  }
}
