.intro {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 92px;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  margin: 0;
}

.intro__quote {
  max-width: 738px;
  margin: 40px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4167;
}

.intro__author {
  max-width: 732px;
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4167;
  text-align: right;
}

.intro__description {
  max-width: 722px;
  margin: 32px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    width: 100%;
    margin: 90px 0 0;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 1.089;
  }

  .intro__quote {
    max-width: 720px;
    margin: 50px 0 0;
  }

  .intro__author {
    max-width: 720px;
    margin: 0;
  }

  .intro__description {
    max-width: 720px;
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    width: 100%;
    margin-top: 64px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.094;
  }

  .intro__quote {
    max-width: 288px;
    line-height: 1.25;
    margin: 40px 0 0;
  }

  .intro__author {
    max-width: 288px;
    margin: 10px 0 0;
  }

  .intro__description {
    max-width: 288px;
    margin: 32px 0 0;
  }
}
